<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="timer">
        <span class="time">Thời gian: <button ion-button *ngIf="timeInSeconds && timeInSeconds > 0" large full clear class="timer-button timer-text">{{timer.displayTime}}</button></span>
        <span><ion-button class="finish" (click)="presentConfirm()">Kết thúc</ion-button></span>
    </ion-title>  
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="center">Câu số: <span>{{i+1}}</span></div>
  <div class="ion-text-center size-20px">{{question[i].question}}</div>
  <form class="size-20px">
    <button class="answer" name="answer" id="a" (click)="changeBackground('a')"> {{question[i].a}}</button><br>
    <button class="answer" name="answer" id="b" (click)="changeBackground('b')"> {{question[i].b}}</button><br>
    <button class="answer" name="answer" id="c" (click)="changeBackground('c')"> {{question[i].c}}</button><br>
    <button name="answer" class="answer" id="d" (click)="changeBackground('d')"> {{question[i].d}}</button>
  </form>

</ion-content>
<footer style="height: 15%;" >
  <ion-icon name="arrow-dropleft" (click)="back()"></ion-icon>
  <ion-icon name="arrow-dropright" style="float: right;" (click)="next()"></ion-icon>
</footer>

