<ion-header>
  <ion-toolbar>
    <ion-title>
        <ion-icon ios="ios-arrow-back" md="md-arrow-back" (click)="goBack()"></ion-icon>
        <span padding>Thông tin cá nhân</span>
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div padding>
    <span>Tên người dùng: </span><span>khahh  </span>
  </div>
  <div padding>
    <span>Địa chỉ email: </span><span>qwer@gmail.com</span>
  </div>
  <div padding>
    <a  (click)="presentPrompt()">Thay đổi mật khẩu</a>
  </div>
</ion-content>
